@model List<GestionLocationVehicule.Areas.Client.Models.Vehicule>
@{
    ViewData["Title"] = "Liste Vehicules";
    Layout = "_UserLayout";
}

<section class="car-list-section">
    <div class="container">
        <form asp-action="index" class="row mb-4 align-items-end">
            <div class="col-md-5">
                <label class="form-label">Marque ou modèle</label>
                <input type="text" name="searchInput" class="form-control"
                       placeholder="Ex: Porsche ou Taycan">
            </div>

            <div class="col-md-4">
                <label class="form-label">Statut</label>
                <select name="statusFilter" class="form-select">
                    <option value="">Tous</option>
                    <option value="0">Disponible</option>
                    <option value="1">Loué</option>
                    <option value="2">Maintenance</option>
                </select>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-search me-2"></i> Rechercher
                </button>
            </div>
        </form>

        <div class="row">
            @foreach (var v in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="car-card">

                        <div class="car-placeholder">
                            <img class="car-image" src="@v.ImagePath" onerror="this.onerror=null; this.src='/images/admin/vehicules/img.png';" />
                        </div>
                        <div class="car-info-header">
                            <div>
                                <h5>@v.Marque</h5>
                            </div>
                            <span class="car-price">@v.Prix DH<small class="text-muted">/jour</small></span>
                        </div>
                        <div class="car-features">
                            <span><i class="bi bi-car-front-fill me-2"></i> @v.VehicleCategory?.libelle</span>
                            @{
                                string className = string.Empty;

                                switch ((int)@v.Statut)
                                {
                                    case 0:
                                        className = "bi bi-check-circle-fill text-success";
                                        break;
                                    case 1:
                                        className = "bi bi-x-circle-fill text-danger";
                                        break;
                                    default:
                                        className = "bi bi-tools text-warning";
                                        break;
                                }
                            }
                            <span><i class="@className"></i> @v.Statut</span>
                        </div>
                        <a class="btn btn-details" asp-area="Client" asp-controller="ListVehicules" asp-action="Details" asp-route-id="@v.Id"> Voir les détails </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>