@model List<GestionLocationVehicule.Areas.Admin.Models.Vehicule>

@{
    ViewData["Title"] = "Gestion des Locations";
    Layout = "_AdminLayout";
}

<div class="page-header-container">
    <div class="container-fluid mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">Gestion des Vehicules</h1>
            <a class="btn btn-primary" asp-controller="Vehicules" asp-area="Admin" asp-action="Create">
                <i class="bi bi-plus-lg me-2"></i> Nouvelle Vehicule
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="table-management">
        <div class="table-container">
            <h3 class="mb-3">Liste des Vehicules</h3>

            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Titre</th>
                            <th>Matricule</th>
                            <th>Marque / Année</th>
                            <th>Prix</th>
                            <th>Catégorie</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var v in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@v.ImagePath" width="100" alt="@v.Marque" onerror="this.onerror=null; this.src='/images/admin/vehicules/img.png';" />
                                </td>
                                <td>@v.Titre</td>
                                <td>@v.Matricule</td>
                                <td>@v.Marque - @v.Annee</td>
                                <td>@v.Prix.ToString("N2") DH</td>
                                <td>@v.VehicleCategory?.libelle</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-primary" title="Details" asp-controller="Vehicules" asp-area="Admin" asp-action="Details" asp-route-id="@v.Id">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    <a class="btn btn-sm btn-outline-success" title="Modifier" asp-controller="Vehicules" asp-area="Admin" asp-action="Edit" asp-route-id="@v.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

                                    @* <a class="btn btn-sm btn-outline-danger" title="Supprimer" asp-controller="Vehicules" asp-area="Admin" asp-action="Delete" asp-route-id="@v.Id" onclick="return confirm('Voulez-vous vraiment supprimer ?')">
                                        <i class="bi bi-trash"></i>
                                    </a> *@
                                    <form asp-controller="Vehicules" asp-area="Admin" asp-action="Delete" asp-route-id="@v.Id" method="post" style="display:inline">
                                        <button type="submit" class="btn btn-sm btn-outline-danger" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer ?')">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>